// data
-
  var header = '#experience'
  var experienceList = [
    {
      title: 'asd',
      date: '1 mar',
      company: 'asdas',
      responsabilityList: [
        'resp 1',
        'resp 2',
        'resp 3',
      ]
    },
    {
      title: 'asd2',
      date: '1 jan',
      company: 'asdas',
      responsabilityList: [
        'resp 4',
        'resp 5',
        'resp 6',
      ]
    },
    {
      title: 'asd3',
      date: '1 feb',
      company: 'asdas',
      responsabilityList: [
        'resp 7',
        'resp 8',
        'resp 9',
      ]
    },
    {
      title: 'asd2',
      date: '1 jan',
      company: 'asdas',
      responsabilityList: [
        'resp 4',
        'resp 5',
        'resp 6',
      ]
    },
  ];

// view
#experience
.experience
  .experience__header=header
  input.experience__input(type="radio", name="same-name", id="experience-default")
  each experience, key in experienceList
    input.experience__input(type="radio", id=`experience-id-${key}` name="same-name")
    label.experience__title(for=`experience-id-${key}`)
      | #{experience.title}
      label(for="experience-default")
        span.my-cv2__icon--plus
    .experience__details
      .experience__top
        .experience__date=experience.date
        .experience__company=experience.company
      .experience__list
        each responsability in experience.responsabilityList
          .experience__responsability=responsability